body{
  font-size: 1.3em;

}

.slides{
  width: 1500px;
}

section .present{
  width: 90%;
}

.reveal .roll{
  margin: 0px;
  padding: 0px;
  line-height: 1em;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
  margin: 30px;
  padding: 10px;
  font-weight: bold;
}

.reveal h1{ font-size: 3.5em }
.reveal h2{ font-size: 3.2em }
.reveal h3{ font-size: 2.9em }
.reveal h4{ font-size: 2.5em }
.reveal h5{ font-size: 2.4em }
.reveal h6{ font-size: 2.3em }

.reveal ul{
  margin: 0px;
  padding: 0px;
}

.reveal li{
  list-style-type: none;
  line-height: 1.2em;
  margin: 5px;
  padding: 3px 0px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.reveal li ul{
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-top: 15px;
}

.reveal li ul li{
  font-weight: 100;
  font-size: 0.8em;
  line-height: 1em;
}

