<!DOCTYPE html>
<html ng-app='devstudy'>
<head>
<!--
⣀⡀ ⢀⣀ ⢀⣀ ⡀⢀ ⢀⡀ ⣰⡀
⠇⠸ ⠣⠼ ⠣⠤ ⣑⡺ ⠣⠜ ⠘⠤

Copyright © 2013- nacyot<Daewkon Kim> All Rights Reserved.
-->
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<link href='images/favicon.ico' rel='shortcut icon' type='image/x-icon'>
<link href='http://blog.nacyot.com/presentations/reveal.js/css/theme/template/theme.css' rel='canonical'>
<link href='http://blog.nacyot.com/feed.xml' rel='alternative' type='application/rss+xml'>
<link href='https://plus.google.com/+KimDaekwon' rel='author'>
<link href='https://plus.google.com/+KimDaekwon' rel='publisher'>
<meta content='summary' name='twitter:card'>
<meta content='article' property='og:type'>
<meta content='nacyot의 프로그래밍 이야기' name='twitter:title'>
<meta content='nacyot의 프로그래밍 이야기' property='og:title'>
<meta content='' name='twitter:description'>
<meta content='' property='og:description'>
<meta content='@nacyo_t' name='twitter:site'>
<meta content='nacyot의 프로그래밍 이야기' property='og:site_name'>
<meta content='http://blog.nacyot.com/presentations/reveal.js/css/theme/template/theme.css' name='twitter:url'>
<meta content='http://blog.nacyot.com/presentations/reveal.js/css/theme/template/theme.css' property='og:url'>
<meta content='' name='twitter:image'>
<meta content='' property='og:image'>
<title>nacyot의 프로그래밍 이야기</title>
<link href="../../../../../stylesheets/all.css" media="all" rel="stylesheet" type="text/css" />
<script src="../../../../../javascripts/all.js" type="text/javascript"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-46785477-2', 'auto');
  ga('send', 'pageview');
</script>
</head>
<body>
<nav class='navbar navbar-fixed-top' role='navigation'>
<div class='navbar-header'>
<a class='navbar-brand' href='http://nacyot.com'>nacyot</a>
</div>
<div class='collapse navbar-collapse'>
<ul class='nav navbar-nav'>
<li>
<a href='http://blog.nacyot.com'>
<i class='fa fa-comment'></i>
프로그래밍 이야기
</a>
</li>
<li>
<a href='http://wiki.nacyot.com'>
<i class='fa fa-comment'></i>
nacyot wiki
</a>
</li>
</ul>
<ul class='nav navbar-nav navbar-right profile'>
<form class="navbar-form navbar-right" role="search" id="cse-search-box" action="http://google.com/cse">
<input type="hidden" name="cx" value="001442510316556568987:j38kphmalos" />
<input type="hidden" name="ie" value="UTF-8" />
<div class="form-group">
<input class="form-control" type="text" name="q" size="15" />
</div>
<button class="btn btn-default" type="submit" name="sa" value="Search">Search</button>
</form>
<li>
<a href='https://twitter.com/nacyo_t'>
<i class='fa fa-twitter twitter'></i>
@nacyo_t
</a>
</li>
<li>
<a href='https://github.com/nacyot/blog.nacyot.com-source'>
<i class='fa fa-github github'></i>
nacyot
</a>
</li>
</ul>
</div>
</nav>


/*
Syntax error: Undefined mixin 'bodyBackground'.
        on line 8 of /home/travis/build/nacyot/blog.nacyot.com-source/source/presentations/reveal.js/css/theme/template/theme.scss, in `bodyBackground'
        from line 8 of /home/travis/build/nacyot/blog.nacyot.com-source/source/presentations/reveal.js/css/theme/template/theme.scss

3: /*********************************************
4:  * GLOBAL STYLES
5:  *********************************************\/
6: 
7: body {
8: 	@include bodyBackground();
9: 	background-color: $backgroundColor;
10: }
11: 
12: .reveal {
13: 	font-family: $mainFont;

Backtrace:
/home/travis/build/nacyot/blog.nacyot.com-source/source/presentations/reveal.js/css/theme/template/theme.scss:8:in `bodyBackground'
/home/travis/build/nacyot/blog.nacyot.com-source/source/presentations/reveal.js/css/theme/template/theme.scss:8
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `map'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `map'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/tree/root_node.rb:20:in `render'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/engine.rb:315:in `_render'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/sass-3.2.13/lib/sass/engine.rb:262:in `render'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/renderers/sass.rb:66:in `evaluate'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/tilt-1.4.1/lib/tilt/template.rb:103:in `render'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/core_extensions/rendering.rb:280:in `render_individual_file'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/core_extensions/rendering.rb:157:in `render_template'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/sitemap/resource.rb:143:in `block in render'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/activesupport-3.2.16/lib/active_support/notifications.rb:125:in `instrument'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/util.rb:63:in `instrument'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/application.rb:200:in `instrument'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/sitemap/resource.rb:16:in `instrument'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/sitemap/resource.rb:114:in `render'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/core_extensions/request.rb:254:in `process_request'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/core_extensions/request.rb:204:in `block in call!'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/core_extensions/request.rb:203:in `catch'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/core_extensions/request.rb:203:in `call!'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/core_extensions/request.rb:189:in `call'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/rack-1.5.2/lib/rack/builder.rb:138:in `call'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/rack-1.5.2/lib/rack/urlmap.rb:65:in `block in call'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/rack-1.5.2/lib/rack/urlmap.rb:50:in `each'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/rack-1.5.2/lib/rack/urlmap.rb:50:in `call'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/rack-1.5.2/lib/rack/head.rb:11:in `call'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/rack-1.5.2/lib/rack/lint.rb:49:in `_call'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/rack-1.5.2/lib/rack/lint.rb:37:in `call'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/rack-1.5.2/lib/rack/builder.rb:138:in `call'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/rack-test-0.6.2/lib/rack/mock_session.rb:30:in `request'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/rack-test-0.6.2/lib/rack/test.rb:230:in `process_request'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/rack-test-0.6.2/lib/rack/test.rb:57:in `get'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/cli/build.rb:249:in `render_to_file'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/cli/build.rb:212:in `block in execute!'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/cli/build.rb:209:in `each'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/cli/build.rb:209:in `execute!'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/cli/build.rb:124:in `invoke!'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/thor-0.18.1/lib/thor/actions.rb:95:in `action'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/cli/build.rb:66:in `build'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/thor-0.18.1/lib/thor/command.rb:27:in `run'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/thor-0.18.1/lib/thor/invocation.rb:120:in `invoke_command'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/thor-0.18.1/lib/thor.rb:363:in `dispatch'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/thor-0.18.1/lib/thor/base.rb:439:in `start'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/cli.rb:77:in `method_missing'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/thor-0.18.1/lib/thor/command.rb:29:in `run'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/thor-0.18.1/lib/thor/command.rb:128:in `run'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/thor-0.18.1/lib/thor/invocation.rb:120:in `invoke_command'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/thor-0.18.1/lib/thor.rb:363:in `dispatch'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/thor-0.18.1/lib/thor/base.rb:439:in `start'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/lib/middleman-core/cli.rb:22:in `start'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/gems/middleman-core-3.2.1/bin/middleman:18:in `<top (required)>'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/bin/middleman:23:in `load'
/home/travis/build/nacyot/blog.nacyot.com-source/vendor/bundle/ruby/2.1.0/bin/middleman:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'bodyBackground'.\A         on line 8 of /home/travis/build/nacyot/blog.nacyot.com-source/source/presentations/reveal.js/css/theme/template/theme.scss, in `bodyBackground'\A         from line 8 of /home/travis/build/nacyot/blog.nacyot.com-source/source/presentations/reveal.js/css/theme/template/theme.scss\A \A 3: /*********************************************\A 4:  * GLOBAL STYLES\A 5:  *********************************************/\A 6: \A 7: body {\A 8: 	@include bodyBackground();\A 9: 	background-color: $backgroundColor;\A 10: }\A 11: \A 12: .reveal {\A 13: 	font-family: $mainFont;"; }

<div class='row'>
<div class='col-lg-12'>
<hr>
<div class='site-footer'>
<p>
All content copyright
<a href='http://nacyot.com'>nacyot</a>
© 2014 • All rights reserved.
&nbsp;&nbsp;&nbsp;
<a class='icon' href='http://nacyot.com'>
<i class='fa-home fa fa-2x'></i>
</a>
<a class='icon' href='https://twitter.com/nacyo_t'>
<i class='fa-twitter fa fa-2x'></i>
</a>
<a class='icon' href='https://github.com/nacyot'>
<i class='fa-github fa fa-2x'></i>
</a>
<a class='icon' href='/feed.xml' style='color: orange'>
<i class='fa-rss fa fa-2x'></i>
</a>
</p>
</div>
</div>
</div>

</body>
</html>
