body {
  margin: 0;
  line-height: 2.0em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 1.9em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.7em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1.4em;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.main {
  margin: auto;
  margin-top: 80px;
  text-align: left;
}
a {
  color: black;
}
a:hover {
  color: #2A603B;
  text-decoration: none;
}
.live_link a {
  color: #976E9A;
}
.dead_link a {
  color: #52593B;
  color: black;
  pointer-events: none;
  cursor: default;
}
.category-news {
  background-color: #dbdb8d;
}
.category-infrastructure {
  background-color: #98df8a;
}
.category-programming {
  background-color: #aec7e8;
}
.category-visualization {
  background-color: #ffbb78;
}
.category-service {
  background-color: #c49c94;
}
.category-software {
  background-color: #c7c7c7;
}
.category-editor {
  background-color: #c5b0d5;
}
.category-book {
  background-color: #ff9896;
}
.category-news-top {
  border-top: 3px solid  #dbdb8d;
}
.category-infrastructure-top {
  border-top: 3px solid  #98df8a;
}
.category-programming-top {
  border-top: 3px solid  #aec7e8;
}
.category-visualization-top {
  border-top: 3px solid  #ffbb78;
}
.category-service-top {
  border-top: 3px solid  #c49c94;
}
.category-software-top {
  border-top: 3px solid  #c7c7c7;
}
.category-editor-top {
  border-top: 3px solid  #c5b0d5;
}
.category-book-top {
  border-top: 3px solid  #ff9896;
}
nav {
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
}
nav a {
  font-size: 1.2em;
}
.navbar {
  background-color: white;
  border-bottom: 1px solid lightgray;
}
.mini-wall {
  height: 200px;
  padding-top: 50px;
}
.profile_image {
  width: 45px;
  height: 45px;
}
.wall {
  margin-top: 65px;
}
.wall .title {
  margin: 0;
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 0.22em;
}
.subtitle {
  text-align: center;
  margin-top: 2em;
}
#container {
  padding: 0;
  margin: 0 auto;
}
.summary_card {
  overflow: hidden;
  margin-bottom: 4em;
  padding: 0 0 1.5em;
}
.summary_card img {
  display: block;
  margin: 0em auto 1.5em;
  max-width: 100%;
}
.summary_card h1.title {
  line-height: 1.3em;
}
.summary_card h1.title .featured {
  color: orange;
}
.summary_card .summary {
  padding: 1.5em 0em 1em 0em;
  font-size: 1.2em;
  text-align: left;
}
.summary_card .summary .link {
  font-size: 0.8em;
}
.summary_card .tags {
  display: none;
  border-top: 1px solid black;
  padding-top: 1em;
  margin-top: 2em;
}
.summary_card .barcode {
  margin: 4em auto 3em;
}
.title-image-wrapper {
  margin: 0 auto;
  text-align: center;
}
.title-image {
  width: 95%;
  display: inline;
  padding: 0;
  margin: 1em 0em 2em;
  box-shadow: 8px 8px 5px #888888;
}
#categories-title {
  height: 100px;
  width: 100%;
}
.categories {
  width: 100%;
  text-align: center;
}
.categories .category {
  margin: 0;
  padding: 0px 10px;
  font-size: 1em;
  float: left;
}
.categories .category-title {
  margin: 0;
  padding: 20px 10px;
  font-size: 1.6em;
  float: left;
}
.categories:after {
  content: '';
  display: block;
  clear: both;
}
p.shape-title {
  font-size: 0.75em;
  text-align: center;
  font-weight: bold;
}
.articles {
  margin: 0;
  padding: 0;
}
.articles .barcode {
  margin: 4em auto 3em;
}
.articles .article {
  margin-bottom: 55px;
}
.articles .article .title {
  line-height: 1.3em;
  font-weight: bold;
}
.articles .article .description {
  background-color: #eedeee;
  margin: 0.5em 0.1em 2em;
  padding: 1em;
}
.articles .article .summary {
  font-size: 1.2em;
  line-height: 2em;
}
.articles .article .toc {
  font-size: 1.2em;
  padding: 5px 15px 10px;
  margin: 35px auto;
  width: 95%;
}
.articles .article .toc ul {
  list-style-type: none;
}
.articles .article .toc ul ul,
.articles .article .toc ul ul ul,
.articles .article .toc ul ul ul ul {
  list-style-type: lower-alpha;
}
.articles .article .toc .toc-h2 {
  padding-left: 0px;
}
.articles .article .toc .toc-h3 {
  padding-left: 20px;
}
.articles .article .toc .toc-h4 {
  padding-left: 40px;
}
.articles .article .toc .toc-h5 {
  padding-left: 60px;
}
.articles .article .toc .toc-h6 {
  padding-left: 80px;
}
.articles .article .body {
  font-size: 1.2em;
}
.articles .article .body img {
  display: block;
  margin: 1em auto 1em;
  padding: 1em;
  max-width: 90%;
  min-width: 30%;
  border: 2px solid lightgray;
}
.articles .article .body h1,
.articles .article .body h2,
.articles .article .body h3,
.articles .article .body h4,
.articles .article .body h5,
.articles .article .body h6 {
  margin-top: 45px;
  margin-bottom: 15px;
}
.articles .article .body .to_toc {
  font-size: 0.5em;
}
.articles .article .body p {
  margin-bottom: 25px;
}
.articles .article .body p a {
  border-bottom: 2px dotted gray;
}
.articles .article .body code {
  color: black;
}
.articles .article .body .footnotes {
  font-size: 0.9em;
}
.articles .article .body .footnotes p {
  margin-bottom: 10px;
}
.articles .article .body hr {
  height: 1px;
  background-color: black;
  margin: 3em 2em;
}
.articles .article .recommand {
  margin-top: 3em;
  font-size: 1.2em;
}
.articles .article .recommand .links {
  margin: 0.5em 1em 1em;
}
.articles .article .more {
  font-size: 0.9em;
}
.articles .article .footer .tags {
  font-size: 1.1em;
}
.articles .article .footer .tags .more {
  font-size: 0.8em;
}
.articles .article .footer .author {
  min-height: 150px;
}
.articles .article .footer .author h1 {
  margin-top: 0;
  font-size: 1.2em;
}
.articles .article .footer .share h1 {
  margin-top: 0;
  font-size: 1.2em;
}
.articles .navigation {
  font-size: 1em;
}
.site-footer {
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
}
.site-footer a {
  color: black;
}
.site-footer i {
  margin: 0 0.2em;
}
.site-footer .copyright {
  margin: 1em;
  font-family: 'Lato', sans-serif;
}
.site-footer .search-form {
  width: 100%;
}
.site-footer .search-form form {
  margin: 0 auto 2em;
  width: 150px;
}
.pagination {
  width: 100%;
  text-align: center;
}
