pre.src {
  padding: 20px 40px;
  font-size: 1.4em;
  line-height: 1.4em;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #3f3f3f; 
  color: #dcdccc; 
}

/* from http://emacs-fu.blogspot.kr/2010/05/using-zenburn-for-org-mode-generated.html */
.org-preprocessor {
   color: #8cd0d3;
}

.org-preprocessor {
   color: #8cd0d3;
}

.org-variable-name {
   color: #f0dfaf;
}

.org-string {
   color: #cc9393;
}

.org-type {
   color: #dfdfbf;
   font-weight: bold;
}

.org-function-name {
   color: #8cd0d3;
   font-weight: bold;
}

.org-keyword {
   color: #f0dfaf;
   font-weight: bold;
}

.org-comment {
   color: #7f9f7f;
}

.org-doc {
   color: #afd8af;
}

.org-comment-delimiter {
   color: #708070;
}

.org-constant {
   color: #dca3ac;
   font-weight:bold;
}

.org-builtin {
   color: #7f9f7f;
}
